<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{com :: head('Entrada')}"></head>

<body>
    <header class="mb-2">
        <div th:replace="~{com :: logo}"></div>
    </header>
    <section>
        <div class="container">
            <div th:replace="~{com :: baner('Nova entrada de material')}"></div>
            <form th:object="${entradaDto}" th:action="@{/cadastro/entrada/novo}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="codigoNota">Código da Nota Fiscal</label>
                    <input th:field="*{codigoNota}" th:errorclass="is-invalid" class="form-control"
                        placeholder="Digite aqui, apenas números">
                    <div class="invalid-feedback" th:errors="*{codigoNota}">
                        Descrição do erro
                    </div>
                </div>
                <th:block th:each="materialQuantidade : ${materiaisQuantidades}">
                <div class="mb-3">
                    <label class="form-label" for="codigoMaterial">Código do material</label>
                    <input th:field="*{codigoMaterial}" th:errorclass="is-invalid"
                        class="form-control" placeholder="Digite aqui, apenas números">
                    <div class="invalid-feedback" th:errors="*{codigoMaterial}">
                        Descrição do erro
                    </div>
                </div>
                </th:block>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary mt-2" type="submit">Registrar</button>
            <a th:href="@{/}">
                <button class="btn btn-primary mt-2" type="button">Voltar</button>
            </a>
        </div>
        </form>
        </div>
    </section>
</body>

</html>