<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{com :: head('Entrada')}"></head>

<body>
    <header class="mb-2">
        <div th:replace="~{com :: logo}"></div>
    </header>
    <section>
        <div class="container">
            <div th:replace="~{com :: baner('Nova entrada de material')}"></div>
            <div class="mb-3 d-flex justify-content-between">
                <label class="form-label" for="id"><h5>Selecione a nota:</h5></label>

                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Filtrar notas</button>

                    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
                        aria-labelledby="offcanvasTopLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasTopLabel">Filtro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form th:object="${notaFiscalFiltroDto}" th:action="@{/cadastro/entrada/ini/filtro}" method="post">
                                <select th:field="*{nomeFornecedor}" class="form-select" aria-label="Default select example">
                                    <option value="" text="Selecione um fornecedor específico"></option>
                                    <option th:each="filtro : ${filtros}" 
                                    th:value="${filtro.nomeFornecedor}"
                                    th:utext="${filtro.nomeFornecedor}">
                                    </option>
                                </select>

                                <button class="btn btn-primary mt-2" type="submit">Filtrar</button>   
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <form th:object="${notaFiscalDto}" th:action="@{/cadastro/entrada/quantidade}" method="post">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecione o código da nota fiscal</option>
                    <div th:each="nota : ${notaFiscalDtoList}">
                        <option th:value="${nota.id}">
                            <span th:text="${nota.id}"></span>
                        </option>
                    </div>
                </select>


                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary mt-2" type="submit">Cadastrar</button>
                    <a th:href="@{/cadastro}">
                        <button class="btn btn-primary mt-2" type="button">Cancelar</button>
                    </a>
                </div>
            </form>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>