<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{com :: head('Custeio')}"></head>
<body>
    <header class="mb-2">
        <div  th:replace="~{com :: logo}"></div>
    </header>
    <section>
        <div class="container">
            <div th:replace="~{com :: baner('Novo destino de material')}"></div>
            <form th:object="${destinoForm}" th:action="@{/cadastro/destino/novo}" method="post">
                <label class="form-label" for="nome">Nome</label>
                <input th:field="*{nome}" type="text" class="form-control">

                <button class="btn btn-primary mt-2" type="submit">Cadastrar</button>
            </form>
        </div>
    </section>
</body>
</html>