<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{com :: head('Fabricante')}"></head>
<body>
    <header class="mb-2">
        <div  th:replace="~{com :: logo}"></div>
    </header>
    <section>
        <div class="container">
            <div th:replace="~{com :: baner('Novo fabricante')}"></div>
            <form class="was-validated" th:object="${fabricanteDto}" th:action="@{/cadastro/fabricante/novo}" method="post">
                <div>
                    <label class="form-label" for="nome">Nome</label>
                    <input th:field="*{nome}"class="form-control is-invalid" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório!
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary mt-2" type="submit">Cadastrar</button>
                    <a th:href="${onCancelUrl}">
                        <button class="btn btn-primary mt-2" type="button">Voltar</button>
                    </a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>