<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{com :: head('Home Page')}" ></head>
<body>
    <header>
        <div th:replace="~{com :: logo}">Estoque Br</div>
        <div th:replace="~{com :: menu-sup}"></div>
    </header>
    <section>
        Ir para seção de cadastro: 
        <ul>
            <li>
                <button>
                    <a href="/custeio"> Centro de custeio</a>
                </button>
            </li>
        </ul>
            
    </section>
</body>
</html>